td div {
  border: 1px solid rgb(141, 135, 135);
  width: 70px;
  height: 70px;
  border-radius: 15px;
  background-color: white;
}

.OFF {
  content-visibility: hidden;
}

.ON {
  pointer-events: none;
}

.card {
  -webkit-transition: opacity 300ms ease-in;
  -o-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
  opacity: 1;
  margin: 4px auto 2px;
}

.locked .card {
  opacity: 0;
}

.photo {
  width: 70px;
  height: 70px;
  border-radius: 15px;
}
